.playerbar
  .playerbar-content
    position fixed
    bottom 0
    left 0
    right 0
    z-index 4
    height 60px
    line-height 60px
    background #ECECF3
    padding 0 10px
    .info
      display flex
      float left
      width 60%
      .info__cover
        flex 0 0 50px
        a
          img
            width 40px
            height 40px
            vertical-align middle
            object-fit fill
      .info__text
        p
          font-size 16px
    .controls
      width 40%
      float left
      display flex
      justify-content space-around
      .iconfont
        font-size 30px