.search
  .search-bar
    padding 15px 10px
    background-color #ebecec
    .search-bar_wrapper
      position relative
      height 30px
      line-height 30px
      padding 0 30px
      background-color #fff
      .icon-chaxun
        position absolute
        top 0px
        left 8px
        color #aaa
      input
        width 100%
        font-size 14px
        color #333
        border none
        outline none
  .search-content
    background-color #fff
    .search-hot
      padding 8px
      h2
        font-size 15px
        height 30px
        line-height 30px
      .search-hot-list
        li
          display inline-block
          height 32px
          margin-right 8px
          margin-bottom 8px
          padding 0 14px
          font-size 14px
          line-height 32px
          color #333
          background-color #f1f1f1
          border-radius 32px