.toplist
  overflow hidden
  padding-bottom 60px
  .toplist-head
    position relative
    .toplist-head_cover
      width 100%
      padding 20%
      background-position 20% 50%
      background-size 50%
    .toplist-head_name
      color #fff
      font-size 50px
      font-weight 700
      text-shadow 1px 1px 1px #aaa
      position absolute
      right 10px
      bottom 10px
  .toplist-content
    background-color #fff